<%- include ("partials/header.ejs") %>

<h1>Home</h1>

<form action="/" method="post">
    <p><%= homeEjsContent %></p>

    <% posts.forEach(function(post){ %>
    <h1><%= post.title %></h1>
    <p><%= post.text %></p>
    <% }); %>    

</form>

<%- include ("partials/footer.ejs") %>